<h1 mat-dialog-title class="text-center">
    <i class="fas fa-dollar-sign"></i> Payment Details
</h1>

<div mat-dialog-content class="dialog-content p-4">
    <div class="summary mb-4">
        <h5 class="font-weight-bold">Salary Disbursement Summary</h5>
        <p><strong><i class="fas fa-file-invoice"></i> Salary Disbursement Id:</strong> {{ salaryDisbursement.id }}</p>
        <p><strong><i class="fas fa-rupee-sign"></i> Amount:</strong> {{ salaryDisbursement.amount | currency:'INR' }}</p>
        <p><strong><i class="fas fa-check-circle"></i> Status:</strong> {{ salaryDisbursement.status }}</p>
        <p><strong><i class="fas fa-calendar-alt"></i> Created At:</strong> {{ salaryDisbursement.processedAt | date: 'short' }}</p>
    </div>
    
    <h3 class="font-weight-bold">Employee List</h3>
    <div class="employee-table-container">
        <table class="table table-bordered employee-table">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Salary</th>
                    <th>Transaction Details</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let employee of salaryDisbursement.employeeList">
                    <tr>
                        <td>{{ employee.employeeId }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.salary | currency:'INR' }}</td>
                        <td>
                            <ul class="transaction-list">
                                <ng-container *ngFor="let transaction of salaryDisbursement.transactionList">
                                    <li *ngIf="transaction.employeePaidId === employee.employeeId">
                                        <i class="fas fa-money-check-alt"></i> Transaction ID: {{ transaction.id }} - Amount: {{ transaction.transactionAmount | currency:'INR' }}
                                    </li>
                                </ng-container>
                            </ul>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>

<div mat-dialog-actions class="d-flex justify-content-center my-3">
    <button mat-button class="btn btn-secondary" mat-dialog-close>
        <i class="fas fa-times"></i> Close
    </button>
</div>
