<app-navbar></app-navbar>
<!-- Tables Container -->
<div class="tables-container">
    <ul class="nav nav-tabs">
        <li class="nav-item" (click)="selectTab('tab3')">
            <a class="nav-link" [class.active]="selectedTab === 'tab3'">Client Details</a>
        </li>
        <li class="nav-item" (click)="selectTab('tab1')">
            <a class="nav-link" [class.active]="selectedTab === 'tab1'">Benificiary Payments</a>
        </li>
        <li class="nav-item" (click)="selectTab('tab2')">
            <a class="nav-link" [class.active]="selectedTab === 'tab2'">Salary Disbursement</a>
        </li>
    </ul>
</div>
<div *ngIf="!loading && client && selectedTab==='tab3'" class="client-details">
    <mat-card class="client-card">
        <mat-card-header class="client-card-header">
            <mat-card-title>{{ client.companyName }}</mat-card-title>
        </mat-card-header>

        <mat-card-content class="client-card-content">
            <div class="client-info">
                <p><strong>Founder Name:</strong> {{ client.founderName }}</p>
                <p><strong>Phone:</strong> {{ client.phone }}</p>
                <p><strong>Address:</strong> {{ client.address }}, {{ client.city }}, {{ client.region }}, {{
                    client.country }}</p>
                <p><strong>Status:</strong> {{ client.status }}</p>
                <p><strong>Balance:</strong> {{ client.accountDetailsObject.accountBalance | currency: "INR" }}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="beneficiaryList && selectedTab==='tab1'" class="main-container">
    <div class="row" style="width: 100%;">
        <!-- Left Side: Beneficiary Table -->
        <div class="col-md-6 beneficiary-container" style="margin-top: 5rem;">
            <div class="table-container">
                <h4>Beneficiary List</h4>
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>Beneficiary Name</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let beneficiary of beneficiaryList" (click)="loadPaymentsOfBeneficiary(beneficiary)">
                            <td [ngClass]="{'highlighted': beneficiary === selectedBeneficiary}">{{ beneficiary.benificiaryName }}</td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="totalBeneficiary" [pageSize]="pageSize" (page)="onPageChangeBeneficiary($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>

        <!-- Right Side: Payment Table -->
        <div class="col-md-6 payment-container" *ngIf="paymentList">
            <h4 class="beneficiary-heading">Payment List</h4>

            <!-- Filter Section for Payments -->
            <div class="filters-section">
                <label for="paymentFilter">Filter Payments:</label>
                <select id="paymentFilter" [(ngModel)]="paymentFilter">
                    <option value="All">All</option>
                    <option value="Success">Success</option>
                    <option value="Pending">Pending</option>
                    <option value="Reject">Reject</option>
                </select>
            </div>

            <!-- Payment Table -->
            <div class="table-container">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Payment Type</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container>
                            <tr *ngFor="let payment of getFilteredPayments(paymentList)">
                                <td>{{ payment.paymentType }}</td>
                                <td>{{ payment.amount | currency: "INR" }}</td>
                                <td>
                                    <span [ngClass]="getStatusClass(payment.status)">
                                        <i [ngClass]="getStatusIcon(payment.status)"></i>
                                        {{ payment.status }}
                                    </span>
                                </td>
                                <td>{{ payment.createdAt | date: 'short' }}</td>
                                <td>
                                    <button mat-button *ngIf="payment.status === 'Pending'" (click)="viewPaymentDetails(payment)">View</button>
                                    <button mat-button *ngIf="payment.status === 'Success'" (click)="viewCompletedPayment(payment)">View</button>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <mat-paginator [length]="totalPayments" [pageSize]="pageSize" (page)="onPageChangePayment($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>



<div *ngIf="salaryDisbursementList && selectedTab==='tab2'" class="container table-section salary-section">
    <div class="d-flex justify-content-center" style="flex-direction: column; align-items: center;">
        <!-- Filter Section for Salary Disbursements -->
        <div class="filters-section">
            <label for="salaryFilter">Filter Salary Disbursements:</label>
            <select id="salaryFilter" [(ngModel)]="salaryFilter">
                <option value="All">All</option>
                <option value="Success">Success</option>
                <option value="Pending">Pending</option>
                <option value="Reject">Reject</option>
            </select>
        </div>
        <div class="table-container">
            <table class="salary-table">
                <thead class="salary-table-header">
                    <tr>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let salaryDisbursement of getFilteredSalaryDisbursements()">
                        <tr>
                            <td>{{ salaryDisbursement.amount | currency: "INR" }}</td>
                            <td>
                                <span [ngClass]="getStatusClass(salaryDisbursement.status)">
                                    <i [ngClass]="getStatusIcon(salaryDisbursement.status)"></i>
                                    {{ salaryDisbursement.status }}
                                </span>
                            </td>
                            <td>{{ salaryDisbursement.processedAt | date: 'short' }}</td>
                            <td>
                                <button mat-button *ngIf="salaryDisbursement.status === 'Pending'"
                                    (click)="viewSalaryDisbursementDetails(salaryDisbursement)">View</button>
                                <button mat-button *ngIf="salaryDisbursement.status === 'Success'"
                                    (click)="viewCompletedSalaryDisbursement(salaryDisbursement)">View</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <mat-paginator [length]="totalSalary" [pageSize]="pageSize" (page)="onPageChangeSalary($event)"
                showFirstLastButtons>
            </mat-paginator>
        </div>

    </div>

</div>