<div *ngIf="loading" class="loading-spinner">
    Loading client details...
</div>

<div *ngIf="error" class="error-message">
    {{ error }}
</div>

<div *ngIf="!loading && client" class="client-details">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ client.companyName }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p><strong>Founder Name:</strong> {{ client.founderName }}</p>
            <p><strong>Company Name:</strong> {{ client.companyName }}</p>
            <p><strong>Phone:</strong> {{ client.phone }}</p>
            <p><strong>Address:</strong> {{ client.address }}, {{ client.city }}, {{ client.region }}, {{ client.country }}</p>
            <p><strong>Status:</strong> {{ client.status }}</p>
            <p><strong>Balance:</strong> {{ client.accountDetailsObject.accountBalance}}</p>

        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="client.beneficiaryList">
    <h3>Payment List</h3>
    <div *ngIf="client.beneficiaryList">
        <div *ngFor="let beneficiary of client.beneficiaryList">
            <div *ngIf="beneficiary.paymentsList.length >= 1"><strong>Payment For:</strong>  {{ beneficiary.benificiaryName }}</div>
            <table *ngIf="beneficiary.paymentsList.length >= 1">
                <thead>
                    <tr>
                        <th>Payment Type</th>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Using <ng-container> to wrap *ngFor and *ngIf -->
                    <ng-container *ngFor="let payment of beneficiary.paymentsList">
                        <tr>
                            <td>{{ payment.paymentType }}</td>
                            <td>{{ payment.amount | currency }}</td>
                            <td>{{ payment.status }}</td>
                            <td>{{ payment.createdAt | date: 'short' }}</td>
                            <!-- Conditionally render buttons based on payment status -->
                            <td *ngIf="payment.status === 'Pending'">
                                <button (click)="viewPaymentDetails(beneficiary, payment)">View</button>
                            </td>
                            <td *ngIf="payment.status === 'Success'">
                                <button (click)="viewCompletedPayment(payment)">View</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Salary  -->
<div *ngIf="salaryDisbursementList">
    <h3>Salary Disbursement List</h3>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Using <ng-container> to wrap *ngFor and *ngIf -->
                    <ng-container *ngFor="let salaryDisbursement of salaryDisbursementList">
                        <tr>
                            <td>{{ salaryDisbursement.amount | currency }}</td>
                            <td>{{ salaryDisbursement.status }}</td>
                            <td>{{ salaryDisbursement.processedAt| date: 'short' }}</td>
                            <!-- Conditionally render buttons based on payment status -->
                            <td *ngIf="salaryDisbursement.status === 'Pending'">
                                <button (click)="viewSalaryDisbursementDetails(salaryDisbursement)">View</button>
                            </td>
                            <td *ngIf="salaryDisbursement.status === 'Success'">
                                <button (click)="viewCompletedSalaryDisbursement(salaryDisbursement)">View</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>