<app-navbar></app-navbar>
<div class="container mt-4">
  <h2 class="text-center font-weight-bold mb-3">View Your Recent Transactions - Payments & Salary Disbursements</h2>

  <div class="d-flex justify-content-center align-items-center mb-4">
    <span class="toggle-label">Recent Payments</span>
    <label class="toggle-switch mx-3">
      <input type="checkbox" (change)="toggleComponents()" [checked]="!displayFirstComponent" />
      <span class="slider round"></span>
    </label>
    <span class="toggle-label">Recent Salary Disbursements</span>
  </div>

  <div class="component-container">
    <div *ngIf="displayFirstComponent">
      <app-view-recent-payment></app-view-recent-payment>
    </div>

    <div *ngIf="!displayFirstComponent">
      <app-view-recent-salary></app-view-recent-salary>
    </div>
  </div>
</div>
