.container {
    margin-top: 30px;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(105, 105, 105, 0.2);
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .mat-elevation-z8 {
    border-radius: 8px;
    overflow: hidden;
  }
  
  .mat-header-cell, .mat-cell {
    padding: 12px;
    text-align: center;
  }
  
  .mat-header-cell {
    background-color: #3f51b5;
    color: white;
  }
  
  .clickable-row:hover {
    background-color: #e9ecef;
    cursor: pointer;
  }
  
  .text-success {
    color: green;
  }
  
  .text-warning {
    color: orange;
  }
  
  .text-danger {
    color: red;
  }
  
  @media (max-width: 768px) {
    .mat-cell {
      font-size: 14px;
    }
  }