<div class="dashboard">
    <h1>Approved Clients</h1>
  
    <div *ngIf="loading">Loading clients...</div>
  
    <div *ngIf="!loading && clients.length > 0">
      <div *ngFor="let client of clients" class="client-card-container">
        <div *ngIf="client.status=='Success'">
        <mat-card class="client-card" (click)="onCardClick(client.id)">
          <mat-card-header>
            <mat-card-title>{{ client.companyName }}</mat-card-title>
          </mat-card-header>
  
          <mat-card-content>
            <p><strong>Founder Name:</strong> {{ client.founderName }}</p>
          </mat-card-content>
        </mat-card>
    </div>
      </div>
    </div>
  
    <div *ngIf="!loading && clients.length === 0">
      No clients found.
    </div>
  </div>
  