<div class="container">
  <mat-card class="upload-card">
    <mat-card-header>
      <mat-card-title class="text-center mb-4 mt-3">Required Documents</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="fileForm">
        <div class="file-input">
          <label for="cin">Certificate of Incorporation (CIN)</label>
          <input type="file" id="cin" (change)="onFileSelected($event, 'cin')" />
          <mat-error *ngIf="fileForm.get('cin')?.invalid">File is required</mat-error>
        </div>

        <div class="file-input">
          <label for="aoa">Memorandum & Articles of Association (AOA)</label>
          <input type="file" id="aoa" (change)="onFileSelected($event, 'aoa')" />
          <mat-error *ngIf="fileForm.get('aoa')?.invalid">File is required</mat-error>
        </div>

        <div class="file-input">
          <label for="pan">Company PAN Card</label>
          <input type="file" id="pan" (change)="onFileSelected($event, 'pan')" />
          <mat-error *ngIf="fileForm.get('pan')?.invalid">File is required</mat-error>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="fileForm.invalid" (click)="uploadFiles()">
        Upload
      </button>
    </mat-card-actions>
  </mat-card>
</div>
