<nav class="navbar">
  <div class="left-section d-flex align-items-center">
    <div class="navbar-title">
      <i class="fas fa-user-shield mr-2" style="margin-right: 10px;"></i>
      <span>Client</span>
    </div>
    <div class="welcome-message ml-3">
      <p class="mb-0 font-weight-bold">Welcome Back: {{companyName}}</p>
    </div>
  </div>

  <div class="navbar-links d-flex align-items-center">
    <a class="nav-button btn anchorTag mr-3" routerLink="/Client">
      <i class="fas fa-tachometer-alt"></i> Go to Dashboard
    </a>
    <div class="navbar-profile">
      <button class="logout-button btn" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i> Logout
      </button>
    </div>
  </div>
</nav>
