.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0080ff;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.left-section {
    display: flex;
    align-items: center;
}

.navbar-title {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.welcome-message {
    margin-left: 10px;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.nav-button {
    color: #ffffff;
    transition: background-color 0.3s;
    margin-right: 20px;
}

.nav-button:hover {
    background-color: #007bff;
}

.logout-button {
    color: white;
}

.logout-button:hover {
    background-color: transparent;
    text-decoration: underline;
}

.anchorTag {
    color: white !important;
}
