<div class="container mt-5">
    <h3>View Employees</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Designation</th>
          <th>Salary</th>
          <th>Account Number</th>
          <th>IFSC</th>
          <th>Branch</th>
          <th>Actions</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeId }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.designation }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.accountDetailsObject?.accountNumber }}</td>
          <td>{{ employee.accountDetailsObject?.ifsc }}</td>
          <td>{{ employee.accountDetailsObject?.branch }}</td>
          <td><button [routerLink]="['/Client/edit-employee', employee.employeeId]" class="btn btn-primary">Edit</button></td>
            <td><button (click)="deleteEmployee(employee.employeeId!)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  