<div mat-dialog-content class="dialog-content">
    <div class="beneficiary-info">
        <p><strong>Beneficiary Name:</strong> {{ benificiary.benificiaryName }}</p>
        <p><strong>Account Number:</strong> {{ benificiary.accountDetailsObject.accountNumber }}</p>
        <p><strong>IFSC:</strong> {{ benificiary.accountDetailsObject.ifsc }}</p>
        <p><strong>Branch:</strong> {{ benificiary.accountDetailsObject.branch }}</p>
    </div>
  
    <hr class="divider">
  
    <div class="payment-info">
        <p><strong>Payment Type:</strong> {{ payment.paymentType }}</p>
        <p><strong>Amount:</strong> {{ payment.amount | currency:'INR' }}</p>
        <p><strong>Status:</strong> {{ payment.status }}</p>
        <p><strong>Created At:</strong> {{ payment.createdAt | date: 'short' }}</p>
    </div>
  
    <div id="paypal-button-container"></div> <!-- Container for PayPal button -->
  </div>
  
  <div mat-dialog-actions class="dialog-actions">
      <button mat-button class="action-button reject-button" (click)="reject()">Reject</button>
      <button mat-button class="action-button close-button" mat-dialog-close>Close</button>
  </div>
  