<app-navbar></app-navbar>
<div class="container full-screen-container">
    <mat-card class="form-card shadow">
      <mat-card-title class="text-center mb-3">Edit Beneficiary</mat-card-title>
      <mat-card-content>
        <form [formGroup]="beneficiaryForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <!-- Beneficiary Name -->
            <div class="form-group col-md-6 mb-2">
              <mat-form-field class="w-100 small-field">
                <mat-label>Beneficiary Name</mat-label>
                <input matInput formControlName="benificiaryName" placeholder="Enter beneficiary name" id="beneficiaryName" />
                <mat-error *ngIf="beneficiaryForm.get('benificiaryName')?.invalid && beneficiaryForm.get('beneficiaryName')?.touched">
                  Name is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-row">
            <!-- Beneficiary Email -->
            <div class="form-group col-md-6 mb-2">
              <mat-form-field class="w-100 small-field">
                <mat-label>Beneficiary Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter benificiary email" id="email" />
                <mat-error *ngIf="beneficiaryForm.get('email')?.invalid && beneficiaryForm.get('email')?.touched">
                  Beneficiary email is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="!accountbool">

            <p>Cannot Edit Inbound Clients</p>
          </div>
          <!-- Account Details -->
          <div *ngIf="accountbool" formGroupName="accountDetailsObject" class="account-details mt-3">
            <h4 class="sub-heading">Account Details</h4>
            <div class="form-row">
              <div class="form-group col-md-4 mb-2">
                <mat-form-field class="w-100 small-field">
                  <mat-label>Account Number</mat-label>
                  <input matInput formControlName="accountNumber" placeholder="Enter account number" id="accountNumber" />
                  <mat-error *ngIf="beneficiaryForm.get('accountDetailsObject.accountNumber')?.invalid && beneficiaryForm.get('accountDetailsObject.accountNumber')?.touched">
                    Account number is required
                  </mat-error>
                </mat-form-field>
              </div>
  
              <div class="form-group col-md-4 mb-2">
                <mat-form-field class="w-100 small-field">
                  <mat-label>IFSC</mat-label>
                  <input matInput formControlName="ifsc" placeholder="Enter IFSC" id="ifsc" />
                  <mat-error *ngIf="beneficiaryForm.get('accountDetailsObject.ifsc')?.invalid && beneficiaryForm.get('accountDetailsObject.ifsc')?.touched">
                    IFSC is required
                  </mat-error>
                </mat-form-field>
              </div>
  
              <div class="form-group col-md-4 mb-2">
                <mat-form-field class="w-100 small-field">
                  <mat-label>Branch</mat-label>
                  <input matInput formControlName="branch" placeholder="Enter branch" id="branch" />
                  <mat-error *ngIf="beneficiaryForm.get('accountDetailsObject.branch')?.invalid && beneficiaryForm.get('accountDetailsObject.branch')?.touched">
                    Branch is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
  
          <!-- Submit Button -->
          <div class="text-center mt-3">
            <button type="submit" mat-raised-button color="primary" class="w-100 submit-button" [disabled]="beneficiaryForm.invalid">
              Update
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  