<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">
    <div class="navbar-brand">
      <i class="fas fa-user-shield"></i> Super Admin
    </div>
  
    <div class=" ml-auto d-flex align-items-center">
      <a class="btn anchorTag mr-3" routerLink="/SuperAdmin">
        <i class="fas fa-tachometer-alt"></i> Go to Dashboard
      </a>
  
      <div class="navbar-profile d-flex align-items-center">
        <button class="btn anchorTag" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </div>
    </div>
  </nav>
  