<app-navbar></app-navbar>
<div class="tables-container">
  <ul class="nav nav-tabs">
      <li class="nav-item" (click)="selectTab('tab1')">
          <a class="nav-link" [class.active]="selectedTab === 'tab1'">OutBound Benificiary</a>
      </li>
      <li class="nav-item" (click)="selectTab('tab2')">
          <a class="nav-link" [class.active]="selectedTab === 'tab2'">InBound Disbursement</a>
      </li>
  </ul>
</div>

<div *ngIf="selectedTab==='tab1'" class="container full-screen-container">
    <div class="card form-card shadow">
      <h3 class="text-center mb-3">Add Beneficiary</h3>
      <form [formGroup]="beneficiaryForm" (ngSubmit)="onSubmit()">
        
        <div class="form-row">
          <!-- Beneficiary Name -->
          <div class="form-group col-md-6 mb-2">
            <mat-form-field class="w-100 small-field">
              <mat-label>Beneficiary Name</mat-label>
              <input matInput formControlName="benificiaryName" placeholder="Enter benificiary name" id="benificiaryName" />
              <mat-error *ngIf="beneficiaryForm.get('benificiaryName')?.invalid && beneficiaryForm.get('benificiaryName')?.touched">
                Beneficiary name is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="form-row">
          <!-- Beneficiary Email -->
          <div class="form-group col-md-6 mb-2">
            <mat-form-field class="w-100 small-field">
              <mat-label>Beneficiary Email</mat-label>
              <input matInput formControlName="email" placeholder="Enter benificiary email" id="email" />
              <mat-error *ngIf="beneficiaryForm.get('email')?.invalid && beneficiaryForm.get('email')?.touched">
                Beneficiary email is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <!-- Account Details -->
        <div formGroupName="accountDetailsObject" class="account-details mt-3">
          <h4 class="sub-heading">Account Details</h4>
          <div class="form-row">
            <!-- Account Number -->
            <div class="form-group col-md-4 mb-2">
              <mat-form-field class="w-100 small-field">
                <mat-label>Account Number</mat-label>
                <input matInput formControlName="accountNumber" placeholder="Enter account number" id="accountNumber" />
                <mat-error *ngIf="beneficiaryForm.get('accountDetailsObject.accountNumber')?.hasError('required') && beneficiaryForm.get('accountDetailsObject.accountNumber')?.touched">
                  Account number is required
                </mat-error>
                
                <mat-error *ngIf="beneficiaryForm.get('accountDetailsObject.accountNumber')?.hasError('accountNumberTaken') && beneficiaryForm.get('accountDetailsObject.accountNumber')?.dirty">
                  Already exists, Add using Inbound Beneficiary
                </mat-error>
              </mat-form-field>
            </div>
  
            <!-- IFSC -->
            <div class="form-group col-md-4 mb-2">
              <mat-form-field class="w-100 small-field">
                <mat-label>IFSC</mat-label>
                <input matInput formControlName="ifsc" placeholder="Enter IFSC" id="ifsc" />
                <mat-error *ngIf="beneficiaryForm.get('accountDetailsObject.ifsc')?.invalid && beneficiaryForm.get('accountDetailsObject.ifsc')?.touched">
                  IFSC is required
                </mat-error>
              </mat-form-field>
            </div>
  
            <!-- Branch -->
            <div class="form-group col-md-4 mb-2">
              <mat-form-field class="w-100 small-field">
                <mat-label>Branch</mat-label>
                <input matInput formControlName="branch" placeholder="Enter branch" id="branch" />
                <mat-error *ngIf="beneficiaryForm.get('accountDetailsObject.branch')?.invalid && beneficiaryForm.get('accountDetailsObject.branch')?.touched">
                  Branch is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
  
        <!-- Submit Button -->
        <div class="text-center mt-3">
          <button type="submit" mat-raised-button color="primary" class="w-100 submit-button" [disabled]="beneficiaryForm.invalid">
            Submit
          </button>
        </div>
      </form>
    </div>
</div>
  
<div *ngIf="selectedTab === 'tab2'" class="container">
  <h3 class="text-center mb-3">Inbound Clients</h3>
  <div class="search-container" style="width:18rem;">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="form-inline">
      <div class="form-group mb-2">
        <input type="text" class="form-control" formControlName="searchTerm" placeholder="Search by company name" />
      </div>
    </form>
  </div>
  <div *ngIf="loading" class="loading-message">Loading clients...</div>
  <div *ngIf="!loading" class="card form-card shadow">
    <ul class="list-group">
      <li *ngFor="let client of inboundClients" class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <strong>{{ client.name }}</strong>
          <p>{{ client.email }}</p>
        </div>
        <button class="btn btn-primary" (click)="addAsBeneficiary(client.id)">Add As Beneficiary</button>
      </li>
    </ul>
    <mat-paginator [length]="totalInboundClinets"
                 [pageSize]="pageSize"
                 (page)="onPageChange($event)"
                 showFirstLastButtons>
  </mat-paginator>
  </div>
</div>